.gallery {
  margin-top: 1rem;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  padding: 1rem;
}

.photo-card {
  width: 100%;
  /* margin-bottom: 1rem; */
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #c1c1c17a;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media screen and (min-width: 767px) {
  .photo-card {
    width: calc(50% - 10px);
  }
}

@media screen and (min-width: 992px) {
  .photo-card {
    width: calc(33% - 10px);
  }
}

@media screen and (min-width: 1440px) {
  .photo-card {
    width: calc(25% - 10px);
  }
}

.photo-card:hover,
.photo-card:focus-within {
  box-shadow: 0px 4px 10px rgba(246, 135, 104, 0.8);
  transform: translateY(-4px) scale(1.02);
}



.photo-card img {
  width: 100%;
  height: 250px;
  display: block;
  object-fit: cover;
  border-radius: 5px;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  text-shadow: 0 2px 5px rgba(211, 37, 37, 0.7);
}

.info-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  font-weight: 700;
  color: #333;
  margin-right: 0.6rem;
}

.info-item b {
  font-weight: 500;
  color: #333;
}